
.jumbotron{
	margin:auto;
	background-image:url("../images/stardust.png");
	border-radius: 15px;
	width: 65%;
	float: right;
}
body{
font-family: 'Dancing Script', cursive;

background-image:url("../images/Agrabah.png");
background-size: cover;

background-attachment: fixed;
}
.placeHolder{

	height: 300px;
}
.big{

	margin:20px 13%;
}
.game{
	width:100%;
	height: 900px;
}
.game:after{

 content: "";
  display: block;
  clear: both;

}
.characterframe{
	float:left;
	margin:10px;
	width:200px;
	height:200px;
	border:2px;
	
}
.characterframe:hover{

	background-color:orange;
	opacity:0.8;
}
#hero div:first-child:hover{

	opacity:1;
	background-color: #ffffff;
}
#opponent div:first-child:hover{
	opacity:1;
	background-color: #ffffff;
}
#ether{
	background-image: url(../images/stardust.png);
	height: 50%;
	border-radius: 15px;
	border:5px solid #2D414C;

}
#ether:after{
	content: "";
  display: block;
  clear: both;
}
#opponent{
	float:left;
	margin-left:100px;
	
	width:40%;
}
#hero{
	float:left;

	width:40%;
}
.col-lg-8{
	border: none;
	border-radius: 15px;
	
}

.panel{
	border:5px solid;
	border-radius:15px;
	color: orange;
	font-size: 35px;
	border-color: orange;
	background-color: #7E5A3A;
}
.panel-title{
	color: orange;
	font-weight: bolder;
	font-size: 50px;
	text-indent: 10px;
}
.panel-heading {
	
	width:100%;
	margin:0 auto 0 0;
   
    background-color: #2D414C;
    color: orange;
    border:5px solid #2D414C;
	border-radius: 15px;
}
.panel-body{
	display: inline-block;
}
.battle{
	
	margin:0;
	background-color: #E2C8AC;
	border-radius: 15px; 	
	width:100%;
}
.battle:after{
	content: "";
	display: table;
	clear: both;
}
.circle{
	float:left;
	margin:5px;
	height:170px;
	width:170px;
	color:black;
	font-size: 20px;
	font-weight: bolder;
	text-align: left;
	line-height:128px;
	border:2px solid orange;
	border-radius:50px 50px;
}
.thiago{
	background-color: #ffffff;
	background-image: url(../images/thiago.png);
	background-repeat: no-repeat;
	background-size: cover;

}
.aladdin{
	background-color: #ffffff;
	background-image: url(../images/aladdin.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.jafar{
	background-color: #ffffff;
	background-image: url(../images/Jafar_Aladdin.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.genie{
	background-color: #ffffff;
	background-image: url(../images/genie.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
